@import "tailwindcss";

@layer components {
  .nav-link {
    @apply relative transition-colors duration-200 hover:text-orange-600;
  }

  .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background-color: #ea580c;
    /* orange-600 */
    transition: width 0.3s ease;
  }

  .nav-link:hover::after {
    width: 100%;
  }
}